 <!-- form handling -->
 <form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="fullname">
        </div>
        <div class="form-group">
            <label for="Email" class="text-light">Email</label>
            <input type="text" name="email" value="" placeholder="example@gmail.com">
        </div>
        <div class="form-group">
            <label for="state" class="text-light">State</label>
            <div class="radio inline">
                <input type="radio" id="radio-1" name="state" value="Idle" >
                <label for="radio-1" class="radio-label">Idle</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="state" value="Loaded" >
                <label for="radio-2" class="radio-label">Loaded</label>

            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="state" value="Delivered" >
                <label for="radio-3" class="radio-label">Delivered</label>
            </div>

        </div>
        <div class="form-group">
            <label for="status" class="text-light">Weight</label>
            <input type="number" id="status" name="weight" min="25" max="500">
          </div>
        
        <div class="form-group">
            <label for="Medication" class="text-light">Medication</label>
            <input type="text" name="medication" value="" placeholder="A-Z0-9">
        </div>
        <div class="form-group">
            <label for="model" class="text-light">Model</label>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="model" value="Lightweight" >
                <label for="radio-4" class="radio-label">Light-weight</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="model" value="Middleweight" >
                <label for="radio-5" class="radio-label">Middle-weight</label>

            </div>
            <div class="radio inline">
                <input type="radio" id="radio-6" name="model" value="Heavyweight" >
                <label for="radio-6" class="radio-label">Heavy-weight</label>
            </div>

        </div>
        
        
        
        <div class="form-group">
            <label for="status" class="text-light">Battery</label>
            <input type="number" id="status" name="battery" min="25" max="100">
          </div>
          
        
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Book Evtol</button>
        </div>

    </div>
</form>